body{
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  font-size: 18px;
  font-family: Hanken;
  background: white;
}

@font-face {
  font-family: Hanken;
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}

.grid{
  width: 600px;
  height: 500px;
  display: grid;
  grid-template-rows: 20% repeat(4, 1fr) 20%;
  grid-template-columns: 50% 50%;
}

.box-1{
  grid-row: 1/ span 6;
  grid-column:1 / span 1;
  background-color: hsl(241, 59%, 78%);
  display: grid;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.box-2{
  grid-row: 1/ span 6;;
  grid-column: 2/ span 1;
  background-color: white;
  display: grid;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 20px 3px rgba(183, 179, 243, 0.2);
}

.left h2{
  grid-row: 1/ span 1;
  grid-column:1 / span 1
}

.score{
  grid-row: 2/ span 3;
  grid-column:1 / span 1
}

.left h1{
  grid-row: 5/ span 1;
  grid-column:1 / span 1
}

.left p{
  grid-row: 6/ span 1;
  grid-column:1 / span 1
}

.rigth h2{
  grid-row: 1/ span 1;
  grid-column:2 / span 1
}

.reaction{
  grid-row: 2/ span 1;
  grid-column:2 / span 1;
  display: inline-flex;
  background-color: hsla(0, 100%, 67%, 0.25);
}
.reaction .left{
  color: hsl(0, 100%, 67%);
}

.memory{
  grid-row: 3/ span 1;
  grid-column:2 / span 1;
  display: inline-flex;
  justify-content: space-between;
  background-color: hsla(39, 100%, 56%, 0.25);
}

.memory .left{
  color: hsl(39, 100%, 56%);
}

.verbal{
  grid-row: 4/ span 1;
  grid-column:2 / span 1;
  display: inline-flex;
  background-color: hsla(166, 100%, 37%, 0.25);;
}

.verbal .left{
  color: hsl(166, 100%, 37%);
}

.visual{
  grid-row: 5/ span 1;
  grid-column:2 / span 1;
  display: inline-flex;
  background-color: hsla(234, 85%, 45%, 0.25);
}

.visual .left{
  color: hsl(234, 85%, 45%);
}

.box-2 .button{
  grid-row: 6/ span 1;
  grid-column:2 / span 1;
  height: 1rem;
  width: 80%;
  background-color: hsl(224, 30%, 27%);
  color: white;
}
